<div>
  <h2 id="page-heading" data-cy="ClientHeading">
    <span jhiTranslate="paiementApp.client.home.title">Clients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="paiementApp.client.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-client"
        [routerLink]="['/client/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="paiementApp.client.home.createLabel">Créer un nouveau Client</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (clients?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="paiementApp.client.home.notFound">Aucun Client trouvé</span>
    </div>
  }

  @if (clients && clients.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="codeAgence">
              <div class="d-flex">
                <span jhiTranslate="paiementApp.client.codeAgence">Code Agence</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="telephone">
              <div class="d-flex">
                <span jhiTranslate="paiementApp.client.telephone">Telephone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nom">
              <div class="d-flex">
                <span jhiTranslate="paiementApp.client.nom">Nom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prenom">
              <div class="d-flex">
                <span jhiTranslate="paiementApp.client.prenom">Prenom</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sexe">
              <div class="d-flex">
                <span jhiTranslate="paiementApp.client.sexe">Sexe</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="titre">
              <div class="d-flex">
                <span jhiTranslate="paiementApp.client.titre">Titre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="piece">
              <div class="d-flex">
                <span jhiTranslate="paiementApp.client.piece">Piece</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reference">
              <div class="d-flex">
                <span jhiTranslate="paiementApp.client.reference">Reference</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="autoriteDelivre">
              <div class="d-flex">
                <span jhiTranslate="paiementApp.client.autoriteDelivre">Autorite Delivre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="typeClient">
              <div class="d-flex">
                <span jhiTranslate="paiementApp.client.typeClient">Type Client</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.id">
              <div class="d-flex">
                <span jhiTranslate="paiementApp.client.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (client of clients; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/client', client.id, 'view']">{{ client.id }}</a>
              </td>
              <td>{{ client.codeAgence }}</td>
              <td>{{ client.telephone }}</td>
              <td>{{ client.nom }}</td>
              <td>{{ client.prenom }}</td>
              <td>{{ client.sexe }}</td>
              <td>{{ client.titre }}</td>
              <td>{{ client.piece }}</td>
              <td>{{ client.reference }}</td>
              <td>{{ client.autoriteDelivre }}</td>
              <td>{{ client.typeClient }}</td>
              <td>
                {{ client.user?.id }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/client', client.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(client)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
